/* White */
.piece.wp {
  background-image: url("./assets/pieces/wp.svg");
}

.piece.wk {
  background-image: url("./assets/pieces/wk.svg");
}

.piece.wq {
  background-image: url("./assets/pieces/wq.svg");
}

.piece.wr {
  background-image: url("./assets/pieces/wr.svg");
}

.piece.wb {
  background-image: url("./assets/pieces/wb.svg");
}

.piece.wn {
  background-image: url("./assets/pieces/wn.svg");
}

/* Black */
.piece.bp {
  background-image: url("./assets/pieces/bp.svg");
}

.piece.bk {
  background-image: url("./assets/pieces/bk.svg");
}

.piece.bq {
  background-image: url("./assets/pieces/bq.svg");
}

.piece.br {
  background-image: url("./assets/pieces/br.svg");
}

.piece.bb {
  background-image: url("./assets/pieces/bb.svg");
}

.piece.bn {
  background-image: url("./assets/pieces/bn.svg");
}
