.board > *,
.board > *::after,
.board > *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.board {
  --board-size: 100%;
  --flip-rotation: 0deg;
  --animation-duration: 150ms;
  --over-square-color: black;
  --selected-square-color: yellow;
  --possible-move-color: black;
  --wp-svg-url: url("");
  --wk-svg-url: url("");
  --wq-svg-url: url("");
  --wr-svg-url: url("");
  --wb-svg-url: url("");
  --wn-svg-url: url("");
  --bp-svg-url: url("");
  --bk-svg-url: url("");
  --bq-svg-url: url("");
  --br-svg-url: url("");
  --bb-svg-url: url("");
  --bn-svg-url: url("");
  --board-svg-url: url("")

  width: var(--board-size);
  height: var(--board-size);
  background-image: var(--board-svg-url);
  background-repeat: no-repeat;
  position: relative;
  user-select: none;
  transform: rotate(var(--flip-rotation));
}

.board > .piece {
  width: calc(var(--board-size) / 8);
  height: calc(var(--board-size) / 8);
  position: absolute;
  touch-action: none;
  z-index: 10;
  user-select: none;
  transition: transform var(--animation-duration);
}

.board > .piece::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  transform: rotate(var(--flip-rotation));
}

.board > .piece.dragged {
  z-index: 11;
  transition: none;
}

.board > .piece.dragged::before {
  width: 150%;
  height: 150%;
  top: -25%;
  left: -25%;
}

.board > .piece.ghost {
  z-index: 9;
}

.board > .square {
  width: calc(var(--board-size) / 8);
  height: calc(var(--board-size) / 8);
  position: absolute;
  z-index: 5;
}

.board > .square.over {
  background-color: var(--over-square-color);
  opacity: 0.3;
  border-radius: 50%;
  border: calc(var(--board-size) / 8) solid var(--over-square-color);
  left: calc(var(--board-size) / -8 / 2);
  top: calc(var(--board-size) / -8 / 2);
  z-index: 8;
}

.board > .square.selected {
  background-color: var(--selected-square-color);
}

.board > .square.possible-move::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  opacity: 0.3;
}

.board > .square.possible-move.empty::after {
  background-color: var(--possible-move-color);
  width: 40%;
  height: 40%;
  left: 30%;
  top: 30%;
}

.board > .square.possible-move.capture::after {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: 5px solid var(--possible-move-color);
}

.board > .hidden {
  display: none;
}

.board > .ghost {
  opacity: 0.5;
}

.board > .promotion-dialog {
  width: calc(var(--board-size) / 8);
  height: calc(var(--board-size) / 2);
  position: absolute;
  background-color: white;
  z-index: 12;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.board > .promotion-dialog > .piece {
  position: relative;
}

.board > .coordinates {
  position: absolute;
  display: grid;
}

.board > .coordinates.vertical {
  height: var(--board-size);
  width: calc(var(--board-size) / 8 / 4);
  right: 100%;
  grid-template-columns: repeat(1, 1fr);
}

.board > .coordinates.horizontal {
  height: calc(var(--board-size) / 8 / 4);
  width: var(--board-size);
  top: 100%;
  grid-template-columns: repeat(8, 1fr);
}

.board > .coordinates > div.coor {
  display: flex;
  align-items: center;
  justify-content: center;
}

.board > .coordinates > div.coor > h6 {
  font-weight: 500;
  font-size: 16px;
}

.board > .number {
  width: calc(var(--board-size) / 8);
  height: calc(var(--board-size) / 8);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Pieces */

/* White */
.board > .piece.wp::before {
  background-image: var(--wp-svg-url);
}

.board > .piece.wk::before {
  background-image: var(--wk-svg-url);
}

.board > .piece.wq::before {
  background-image: var(--wq-svg-url);
}

.board > .piece.wr::before {
  background-image: var(--wr-svg-url);
}

.board > .piece.wb::before {
  background-image: var(--wb-svg-url);
}

.board > .piece.wn::before {
  background-image: var(--wn-svg-url);
}

/* Black */
.board > .piece.bp::before {
  background-image: var(--bp-svg-url);
}

.board > .piece.bk::before {
  background-image: var(--bk-svg-url);
}

.board > .piece.bq::before {
  background-image: var(--bq-svg-url);
}

.board > .piece.br::before {
  background-image: var(--br-svg-url);
}

.board > .piece.bb::before {
  background-image: var(--bb-svg-url);
}

.board > .piece.bn::before {
  background-image: var(--bn-svg-url);
}
