/* White */
/* .board > .piece.wp::before {
  background-image: url("../assets/pieces/wp.svg");
}

.board > .piece.wk::before {
  background-image: url("../assets/pieces/wk.svg");
}

.board > .piece.wq::before {
  background-image: url("../assets/pieces/wq.svg");
}

.board > .piece.wr::before {
  background-image: url("../assets/pieces/wr.svg");
}

.board > .piece.wb::before {
  background-image: url("../assets/pieces/wb.svg");
}

.board > .piece.wn::before {
  background-image: url("../assets/pieces/wn.svg");
} */

/* Black */
/* .board > .piece.bp::before {
  background-image: url("../assets/pieces/bp.svg");
}

.board > .piece.bk::before {
  background-image: url("../assets/pieces/bk.svg");
}

.board > .piece.bq::before {
  background-image: url("../assets/pieces/bq.svg");
}

.board > .piece.br::before {
  background-image: url("../assets/pieces/br.svg");
}

.board > .piece.bb::before {
  background-image: url("../assets/pieces/bb.svg");
}

.board > .piece.bn::before {
  background-image: url("../assets/pieces/bn.svg");
} */
