:root {
  --board-size: 0px;
  --flip-rotation: 0deg;
  --animation-duration: 150ms;
  --over-square-color: black;
  --selected-square-color: yellow;
  --possible-move-color: black;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.board-container {
  height: 100%;
  max-width: 100vw;
  aspect-ratio: 1/1;
  /* margin: 50px;
  height: 500px;
  width: 500px; */
}

.board {
  width: var(--board-size);
  height: var(--board-size);
  background-image: url(../assets/boards/green.svg);
  background-repeat: no-repeat;
  position: relative;
  user-select: none;
  rotate: var(--flip-rotation);
}

.piece {
  width: calc(var(--board-size) / 8);
  height: calc(var(--board-size) / 8);
  position: absolute;
  touch-action: none;
  z-index: 10;
  user-select: none;
  transition: transform var(--animation-duration);
  overflow: hidden;
}

.piece::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  transform: rotate(var(--flip-rotation));
}

.piece.dragged {
  z-index: 11;
  transition: none;
}

.piece.ghost {
  z-index: 9;
}

.square {
  width: calc(var(--board-size) / 8);
  height: calc(var(--board-size) / 8);
  position: absolute;
  z-index: 5;
}

.square.over {
  background-color: var(--over-square-color);
  opacity: 0.3;
  border-radius: 50%;
  border: calc(var(--board-size) / 8) solid var(--over-square-color);
  left: calc(var(--board-size) / -8 / 2);
  top: calc(var(--board-size) / -8 / 2);
  z-index: 8;
}

.square.selected {
  background-color: var(--selected-square-color);
}

.square.possible-move::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  opacity: 0.3;
}

.square.possible-move.empty::after {
  background-color: var(--possible-move-color);
  width: 40%;
  height: 40%;
  left: 30%;
  top: 30%;
}

.square.possible-move.capture::after {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: 5px solid var(--possible-move-color);
}

.hidden {
  display: none;
}

.ghost {
  opacity: 0.5;
}

.promotion-dialog {
  width: calc(var(--board-size) / 8);
  height: calc(var(--board-size) / 2);
  position: absolute;
  background-color: white;
  z-index: 12;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.promotion-dialog > .piece {
  position: relative;
}

.coordinates {
  position: absolute;
  display: grid;
}

.coordinates.vertical {
  height: var(--board-size);
  width: calc(var(--board-size) / 8 / 4);
  right: 100%;
  grid-template-columns: repeat(1, 1fr);
}

.coordinates.horizontal {
  height: calc(var(--board-size) / 8 / 4);
  width: var(--board-size);
  top: 100%;
  grid-template-columns: repeat(8, 1fr);
}

.coordinates > div.coor {
  display: flex;
  align-items: center;
  justify-content: center;
}

.coordinates > div.coor > h6 {
  font-weight: 500;
  /* font-size: 16px; */
}

.number {
  width: calc(var(--board-size) / 8);
  height: calc(var(--board-size) / 8);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
